#!/bin/bash
#SBATCH --nodes 1
#SBATCH --ntasks-per-node=1
#SBATCH --mem=5g
#SBATCH --partition=shared
#SBATCH -t  00:30:00
#SBATCH --job-name fit_line_SCALE
#SBATCH --output fit_line_SCALE.out

cd $SLURM_SUBMIT_DIR

export PATH=/oasis/scratch/comet/zonca/temp_project/anaconda/bin:$PATH
export PYTHONPATH=

white_noise_scale=SCALE runipy 2_fit_line.ipynb output_fit_line_SCALE.ipynb
